/*===================================== Navbar =======================================*/
html {
  --title-color: #fff;
  --hover-color: #999;
  --hover-color-2: #333;
  --hover-color-3: #444;
  --background-color: #000000;
  --principal-color: #f5c518;
  --help-color: #ccc;
  --book-card-color: #1a1a1a;
  --btn-color: #5799ef;
  --btn-color-2: #0dcaf0;
  --btn-color-3: #dc3545;
  --mesage-error-color: #842029;
  --mesage-error-color-bg: #f8d7da;
  --mesage-error-color-border: #f5c2c7;
  --mesage-success-color: #0f5132;
  --mesage-success-color-bg: #d1e7dd;
  --mesage-success-color-border: #badbcc;

  scroll-behavior: smooth;
}

/*===================================== Navbar =======================================*/
.navbar-brand {
  position: relative;
}

#logo {
  font-size: 30px;
  color: var(--title-color);
}

#bibliotech-title {
  color: var(--title-color);
  position: absolute;
  bottom: -2px;
  font-size: 30px;
  left: 30px;
  font-weight: bold;
}

#main-navbar {
  background-color: #121212;
}

#search-form {
  margin: 0 auto;
  background: var(--title-color);
  border-radius: 5px;
  width: 50%;
  margin-left: 180px;
}

#search-form .form-control {
  border: none;
  width: 90%;
  box-shadow: none;
}

#navbar {
  min-width: 30%;
}

.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar .nav-item .nav-link {
  color: var(--title-color);
  transition: 0.5s;
}

.navbar .nav-item .nav-link:hover,
#bibliotech-title:hover {
  color: var(--hover-color);
}

.bold {
  font-weight: bold !important;
}

/* ========================================= Footer ======================================*/
#footer {
  background-color: var(--background-color);
  color: var(--title-color);
  text-align: center;
  margin: 0;
  padding: 20px;
}

#social-container ul,
#footer-links-container ul {
  list-style: none;
  padding: 0;
}

#social-container li,
#footer-links-container li {
  display: inline-block;
  margin: 0 20px;
}

#social-container li {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transition: 0.5s;
  line-height: 3;
}

#social-container li:hover {
  background-color: var(--hover-color-2);
}

#social-container li a,
#footer-links-container li a {
  color: var(--title-color);
  transition: 0.5s;
}

#social-container li i {
  font-size: 25px;
}

#footer-links-container {
  margin: 30px 0;
}
/* ===================================== Autenticação ========================================================= */
#auth-row {
  justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
  text-align: center;
  border-bottom: 2px solid var(--principal-color);
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}

#login-container form,
#register-container form {
  max-width: 400px;
  margin: 30px auto;
}

#login-container form div,
#register-container form div,
#edit-container div,
#edit-container-password div,
.new-book-container .form-group,
#review-form-id div,
#edit-book-form div {
  margin-bottom: 15px;
}
.card-btn {
  width: 100%;
  color: var(--background-color);
  background-color: var(--principal-color);
  border: 2px solid var(--principal-color);
}

.card-btn:hover {
  background-color: transparent;
  color: var(--principal-color);
  border: 2px solid var(--principal-color);
}

#profile-image-container,
.profile-image-container {
  width: 150px;
  height: 150px;
  border: 6px solid var(--principal-color);
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 15px auto;
}

.profile-image-container {
  width: 70px;
  height: 70px;
}

.page-description {
  color: var(--hover-color);
}

#bio {
  max-width: 400px;
}

.form-control.disabled {
  background-color: var(--hover-color);
}

#change-password-container {
  margin-top: 30px;
}

.edit-profile-page .card-btn,
#add-book-container .card-btn,
#review-form .card-btn,
#edit-book-form .card-btn {
  width: auto;
}
.photo-edit{
  margin-left: 6.2rem;
}

/* ===================================== Home ========================================================= */

#main-container {
  background-color: var(--background-color);
  color: var(--title-color);
  min-height: 90vh;
  padding: 40px;
}
.section-title {
  font-size: 24px;
  border-left: 4px solid var(--principal-color);
  padding-left: 12px;
  margin-top: 20px;
}

.section-description {
  color: var(--help-color);
  font-size: 18px;
}
.books-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.book-card {
  background-color: var(--book-card-color);
  width: 18%;
  margin-bottom: 30px;
  margin-left: 1%;
  margin-right: 1%;
}
.book-card .card-img-top {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.card-title {
  height: 3rem;
}

.card-title a {
  font-size: 16px;
  color: var(--title-color);
}

.fas.fa-star {
  color: var(--principal-color);
}

.rating {
  color: var(--help-color);
}

.rate-btn {
  margin-bottom: 15px;
  color: var(--btn-color);
  background-color: var(--hover-color-2);
  border-color: var(--hover-color-2);
  width: 100%;
  font-weight: bold;
}

.rate-btn:hover {
  background-color: var(--hover-color-3);
  border-color: var(--hover-color-3);
}

.card-btn {
  color: var(--background-color);
  background-color: var(--principal-color);
  border: 2px solid var(--principal-color);
  width: 100%;
}

.card-btn:hover {
  background-color: transparent;
  color: var(--principal-color);
  border-color: var(--principal-color);
}
#add-book-container .card-btn,
#review-form-id .card-btn {
  width: auto;
}
.empty-list {
  text-align: center;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
}

/* ===================================== Painel Administrativo ========================================================= */

#template-login {
  padding-top: 10vh;
}
#add-book-container {
  text-align: right;
  margin-bottom: 1rem;
}
#add-category-form {
  text-align: left;
  margin-bottom: 1rem;
}
#books-dashboard {
  max-height: 400px;
  overflow-y: scroll;
}

.table-book-title {
  color: var(--title-color);
  font-weight: bold;
  transition: 0.5s;
}

.table-book-title:hover {
  color: var(--principal-color);
}

.actions-column {
  max-width: 75px;
  text-align: center;
}

.actions-column form {
  display: inline-block;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: bold;
  transition: 0.5s;
  border: none;
}

.edit-btn {
  text-decoration: none;
  background-color: var(--btn-color-2);
  color: var(--title-color);
}

.edit-btn:hover {
  background-color: transparent;
  color: var(--btn-color-2);
  text-decoration: none;
}

.delete-btn {
  background-color: var(--btn-color-3);
  color: var(--title-color);
}

.delete-btn:hover {
  background-color: transparent;
  color: var(--btn-color-3);
  text-decoration: none;
}

#add-book-container .card-btn {
  width: auto;
}
/*======================New Book===============*/

.new-book-container {
  text-align: center;
}

#add-book-form {
  text-align: left;
}
/*
.book-image-container {
  height: 400px;
  min-width: 200px;
  background-position: center;
  background-size: cover;
}*/
.page-title {
  text-align: center;
}

.page-title:after {
  content: "";
  width: 300px;
  border-bottom: 2px solid var(--principal-color);
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}
/*========================== Edit Movie =============================== */

#edit-book-form .form-group {
  width: 70%;
}
.book-image-container {
  height: 400px;
  min-width: 200px;
  background-position: center;
  background-size: cover;
}
#image-edit .book-image-container {
  margin-top: 40%;
  border: 6px solid var(--principal-color);
  border-radius: 3px;
}
/*======================Message===============*/

.msg-container {
  background-color: var(--background-color);
  padding: 15px;
}

.msg {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px var(--background-color);
  text-align: center;
}

.msg.error {
  color: var(--mesage-error-color);
  background-color: var(--mesage-error-color-bg);
  border-color: var(--mesage-error-color-border);
}

.msg.success {
  color: var(--mesage-success-color);
  background-color: var(--mesage-success-color-bg);
  border-color: var(--mesage-success-color-border);
}
